.friendList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-left: 0px;
}
.friendsItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  height: 100px;
  border: 2px solid black;
}
.friendStatus {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.avatar {
  display: block;
  width: 80px;
  height: 80px;
}
.friendName {
  font-size: 32px;
  font-weight: 500;
}
